@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
    background: -webkit-linear-gradient(#4338ca, #818cf8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-blue {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }