.offersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2d3748;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
    padding-bottom: 1rem;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 4px;
        background: #4299e1;
        border-radius: 2px;
    }
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #4299e1;
        color: #fff;
        border: none;
        border-radius: 2rem;
        padding: 1rem 2rem;
        font-size: 1.125rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        position: relative;
        overflow: hidden;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            color: gainsboro;

            &:before {
                opacity: 0.2;
            }
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
        }

        &.large {
            font-size: 1.25rem;
            padding: 1.25rem 2.5rem;
        }

        &.centered {
            // display: block;
            margin: 250px auto;
        }

        &.pulse {
            animation: pulse 2s infinite;
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.05);
            }

            100% {
                transform: scale(1);
            }
        }
    }
}