.home {
    margin-top: 60px;
}

.home img {
    display: block;
    margin: auto;
    height: 30%;
    width: 30%;
    background-color: transparent;
}

.home h2,
.home h3 {
    font-size: 33px;
    color: rgb(12 100 120);
    text-align: center;
}